<!DOCTYPE html>
<html>

<section>
    <h1>
        Credits
    </h1>

    <h2>
        Author: Luis Marés
    </h2>

    <img src="images/avengers.png" width="300">

    <p>
        Estudiante ETSIT. CORE - Práctica 8: Quiz Express
    </p>

</section>

</html>
