<!DOCTYPE html>
<html>
  <section>

  <p>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </p>

  <p>
    <h1><%= title %></h1>
  </p>

  <p>
    Welcome to <%= title %>
  </p>

  </section>
</html>
