<!DOCTYPE html>
<html>

<head>
    <title>P8 Quiz Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>Práctica 8: Quiz Express</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/quizzes">Quizzes</a>
        <a href="/credits">Credits</a>
    </nav>

    <%- body %>

    <footer>
        <hr/>
        <small>CORE 2018-19</small>
        <hr/>
    </footer>

</body>

</html>
